

.active{
    color: #005187 !important;
}
.nav-item:hover, .nav-link:hover{
    color: #005187 !important;
}
.logo{
    color: #005187;
}
.top-bar{
    background: #c4dafa;
}
.top-bar-item{
    color: black;
}
.top-bar-item:hover{
    color: rgb(20, 142, 69);
}
.barra{
    position: sticky !important;
    top: 0%;
    z-index: 1000;
}
.facultad-button{
    border-radius: 15px !important;
    background: rgb(20, 142, 69) !important;
    border: none !important;
}
.facultad-button:focus{
    box-shadow: 0 0 0 0.2rem #005187 !important ;
}
.facultad-image{
    width: 244  px ;
    height: 295px;
}
.title{
    color: #005187 !important;
    background-color: #c4dafa !important;
}
.perfil-image{
    min-width:100% !important;
    background-color: white;
    width: 255px !important;
    height: 322.59px !important;
}
.perfil-text{
    background: #005187 !important;
}
.perfil-social-media , .social-media{
    color: black !important ;
    background-color: #005187 !important;
    border: none !important;
}
.perfil-social-media:hover , .social-media:hover{
    background-color: rgb(20, 142, 69) !important;
    color: #fff !important;
}
.perfil-social-media:focus, .social-media:focus{
    box-shadow: 0 0 0 0.2rem rgb(20, 142, 69) !important ;
}
.carousel-numbers{
    border: none !important;
    background-color: rgb(20, 142, 69) !important;
    color: black;
    text-transform: uppercase;
}
.back-to-top-button{
    background: #005187 !important;
    border-radius: 15px !important;
    border: none !important;
}
.back-to-top-button:focus{
  background-color: #005187 !important;
  border-color: rgb(20, 142, 69)!important;
  box-shadow: 0 0 0 0.2rem rgb(20, 142, 69) !important ;
}

@media screen and (width < 768px){
    .perfil-image{
        height: 500px !important;
    }
}
.footer-container{
    background-color: rgb(38, 38, 86) !important;
}
/*Footer animado*/

.animated-footer{
    position: absolute;
	bottom: 0%;
	left: 0%;
    width: 100%;
    height: 100%;
	box-sizing: border-box;
	display: block;
}
.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: space-evenly;
    gap: 50px;
}
.about-content{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    text-align: left;
    gap: 30px;
}
.about-button{
    display: flex;
    flex-direction: row-reverse;
}
.about-image{
    display: flex;
    justify-content: center;
}
@media  screen and (width < 841px) {
        .about-container{
            display: flex;
            flex-direction: column;
        }
        .about-content{
            margin: 30px;
            text-align: center;
        }
        .about-button{
            justify-content: center;
        }
}

.mV1{
    background-color: #c4dafa !important;
}

.mV1 h6{
    background-color: #c4dafa !important;
    color: #005187 !important;
}

.color-copyright {
    color: #84b6f4 !important;
}
.copyright-footer{
    display: flex !important;
}
