.active{
    color: #2b2bed !important;
}
.nav-item:hover, .nav-link:hover{
    color: #2b2bed !important;
}
.logo{
    color: #2b2bed;
}
.top-bar{
    background: #a0a0e371;
}
.top-bar-item{
    color: black;
}
.top-bar-item:hover{
    color: rgb(20, 142, 69);
}
.barra{
    position: sticky !important;
    top: 0%;
    z-index: 1000;
}
.facultad-button{
    border-radius: 15px !important;
    background: rgb(20, 142, 69) !important;
    border: none !important;
}
.facultad-image{
    width: 244  px ;
    height: 295px;
}
.title{
    color: #2b2bed !important;
    background-color: #a0a0e371 !important;
}
.perfil-image{
    min-width:100% !important;
    background-color: white;
    width: 255px !important;
    height: 322.59px !important;
}
.perfil-text{
    background: #2b2bed !important;
}
.perfil-social-media{
    color: black !important ;
    background-color: #2b2bed !important;
    border: none !important;
}
.perfil-social-media:hover{
    background-color: rgb(20, 142, 69) !important;
}
.carousel-numbers{
    border: none !important;
    background-color: rgb(20, 142, 69) !important;
    color: black;
    text-transform: uppercase;
}
.back-to-top-button{
    background: #2b2bed !important;
    border-radius: 15px !important;
    border: none !important;
}
.back-to-top-button:focus{
  background-color: #2b2bed !important;
  border-color: rgb(20, 142, 69)!important;
  box-shadow: 0 0 0 0.2rem rgb(20, 142, 69) !important ;
}
@media screen and (width < 768px){
    .perfil-image{
        height: 500px !important;
    }
}

